<a href="https://colab.research.google.com/github/raviblearn1/btiai-python/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

Python is a very powerful programming language used very highly in every part of IT world like - working with data, Web development, Scientif field as well as build and execute machine learning algorithms.

## Variables

`Variables` are name designated to a memory location.

In Python, a variable naming convention is defined a

In [1]:
print("Hellow world")

Hellow world

### Integer

In [4]:
x = 5
print(f'Integer : {x}')
print(f'Data type of 5 is :{type(x)}')

Integer : 5
Data type of 5 is :<class 'int'>

### Float

In [6]:
print(10.5,' and its datatype',type(10.5))

10.5  and its datatype <class 'float'>

### String

In [7]:
print("'Hello'",' and its datatype',type('Hello'))

'Hello'  and its datatype <class 'str'>

### Lists

List are ordered collection of values and it is a mutable objects means, we can update elements (individual values)

In [13]:
li = [ 0,1,2,4,5]  # initialize list
li1 = [ ] # Empty list declaration
print('Intialized list -', li,' and its datatype',type(li))
print('Empty list - ',li1,' and its datatype',type(li1))

Intialized list - [0, 1, 2, 4, 5]  and its datatype <class 'list'>
Empty list -  []  and its datatype <class 'list'>

### Tuples

Tuples are immutable objects with in python. That means, once initialized as Tuple, you can't change any of members in it.

In [16]:
tp = (1,2,4) # initialize tuple
tp1 = () # Empty tuple

print('Intialized tuple -', tp,' and its datatype',type(tp))
print('Empty tuple - ',tp1,' and its datatype',type(tp1))

Intialized tuple - (1, 2, 4)  and its datatype <class 'tuple'>
Empty tuple -  ()  and its datatype <class 'tuple'>

### Sets

Sets are mutable objects to store homogenious values without any duplicates

In [19]:
s1 = {0,1,2,3,3} # initialize set
s2 = set() # empty set

print('Intialized set -', s1,' and its datatype',type(s1))
print('Empty set - ',s2,' and its datatype',type(s2))

Intialized set - {0, 1, 2, 3}  and its datatype <class 'set'>
Empty set -  set()  and its datatype <class 'set'>

### Dictionary

Dictionaries store data as Key-Value pairs

In [20]:
d1 = {"name":"Ravi", "Age":38} # initialize dictionary
d2 = dict()  # empty dictionary

print('Intialized Dict -', d1,' and its datatype',type(d1))
print('Empty dict - ',d2,' and its datatype',type(d2))

Intialized Dict - {'name': 'Ravi', 'Age': 38}  and its datatype <class 'dict'>
Empty dict -  {}  and its datatype <class 'dict'>